* {
    margin: 5px;
    padding: 0px;
}

body {
    background-image: url(../imagens/img-fundo.png);
}

div {
    position: absolute;
    width: 400px;
    height: 400px;
    padding: 10px;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input.botao {
    background-color: rgb(49, 48, 48);
    color: white;
    padding: 3px;
    border: none;
    box-shadow: 2px 2px 2px rgb(121, 119, 119);
}

a.botao {
    text-decoration: none;
    background-color: rgb(49, 48, 48);
    color: white;
    padding: 3px;
    border: none;
    box-shadow: 2px 2px 2px rgb(121, 119, 119);   
}
a.botao:hover {
    text-decoration: underline;
    background-color: rgb(49, 48, 48);
    color: white;
    padding: 3px;
    border: none;
    box-shadow: 2px 2px 2px rgb(121, 119, 119);      
}

span.foco {
    color: darkred;
    font-weight: bold;
}